# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY
_src_path: /Users/adebert/h/genx/modules/core-infrastructure
author_email: arthur@debert.xyz
author_name: Arthur Debert
create_bin_dir: true
description: Description of your project
github_user: arthur-debert
license: MIT
module_description: Core project infrastructure with direnv, git setup, and standard
    directories
module_name: core-infrastructure
package_name: my-awesome-project
project_name: My Awesome Project
setup_direnv: true
setup_git: true
year: 2024
