{{- if .Todos -}}
{{- range .Todos -}}
{{template "todo_item.tmpl" .}}
{{ end -}}
<count>{{.TotalCount}} todo(s), {{.DoneCount}} done</count>
{{- else -}}
<warning>No todos found</warning>
{{- end -}}