{{- if .Message -}}
<{{.MessageType}}>{{.Message}}</{{.MessageType}}>

{{end -}}
{{- if .Todos -}}
{{- if .HighlightID -}}
{{renderNestedTodosWithHighlight .Todos "" 0 .HighlightID -}}
{{- else -}}
{{renderNestedTodos .Todos "" 0 -}}
{{- end -}}
<count>{{.TotalCount}} todo(s), {{.DoneCount}} done</count>
{{- else if not .Message -}}
<warning>No todos found</warning>
{{- end -}}